html, body
{
    width: 16em;
    padding: 0.225em;
    background-color: crimson;
    font-family: 'Fira Sans', sans-serif;
}

.title
{
  color:white;
}

input.form-control, .dropdown
{
  display: inline-block;
  overflow: hidden;
  margin: 2px;
}

select.dropdown
{
  text-align: center;
  border: none;
  height: 2.15em;
  width: 4.8em;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7f50;
  color: rgb(255, 235, 227);
}

optgroup
{
  display: block;
  text-align: left;
  border: none;
  width: 4.8em;
  text-decoration: none;
  background-color: hsl(16, 85%, 58%);
  color: rgb(255, 235, 227);
}

option
{
  display: block;
  text-align: center;
  padding: 0.275em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7f50;
  color: rgb(255, 235, 227);
}

input.form-control {
  text-align: right;
  height: 2em;
  width: 9em;
  border: none;
}

input.form-control:focus {
  outline: 0;
}

.hidden
{
  display: none;
}