html, body
{
    padding: 0.225em;
    background-color: crimson;
    font-family: 'Fira Sans', sans-serif;
}

.popup-container
{
  display: block;
  align-content: center;
}

.title-bar
{
  display: block;
}

@keyframes refresh_animation
{
  0%{color: rgba(255, 255, 255, 0.6);}
  2%{color: rgba(255, 255, 255, 0.97);}
  6%{color: rgba(255, 255, 255, 0.97);}
  16%{color: rgba(255, 255, 255, 0.3);} 
  50%{color: rgba(255, 255, 255, 0.25);}
  100%{color: rgba(255, 255, 255, 0.30);}
}
@keyframes dont_animation
{
  0%{color: rgba(255, 255, 255, 0.25);}
  40%{color: rgba(255, 0, 0, 0.801);}
  100%{color: rgba(255, 255, 255, 0.0.25);} 
}

.title-bar a
{
  font-size: 0.8em;
  float: right;
  margin-top: 0.2em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
a.animate
{
  animation-name: refresh_animation;
  animation-duration: 8s;
  animation-timing-function: cubic-bezier(.36,.01,.64,.99);
  color: rgba(255, 255, 255, 0.30);
}
a.animate-dont
{
  animation-name: dont_animation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.36,.01,.64,.99);
}

.title
{
  display: inline-block;
  color:white;
  margin-bottom: 0.2em;
}

.currency
{
  display: flex;
}

input.form-control, .dropdown
{
  display: inline-block;
  overflow: hidden;
  margin: 2px;
}

select.dropdown
{
  text-align: center;
  border: none;
  height: 2.15em;
  width: 4.8em;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7f50;
  color: rgb(255, 235, 227);
}

optgroup
{
  display: block;
  text-align: left;
  border: none;
  width: 4.8em;
  text-decoration: none;
  background-color: hsl(16, 85%, 58%);
  color: rgb(255, 235, 227);
}

option
{
  display: block;
  text-align: center;
  padding: 0.275em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7f50;
  color: rgb(255, 235, 227);
  box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}

input.form-control {
  text-align: right;
  height: 2em;
  width: 12em;
  border: none;
}

input.form-control:focus {
  outline: 0;
}

.hidden
{
  display: none;
}