html, body
{
    width: 200px;
    padding: 4px;
    background-color: crimson;
    font-family: 'Fira Sans', sans-serif;
}

.title
{
  color:white;
}

input.form-control, .dropdown
{
  float: left;
  overflow: hidden;
  margin: 2px;
}

.dropdown
{
  text-align: center;
  border: none;
  height: 2.15em;
  width: 4.8em;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7f50;
  color: rgb(255, 235, 227);
}

optgroup
{
  border: none;
  height: 2.15em;
  width: 4.8em;
  text-decoration: none;
  background-color: hsl(16, 85%, 58%);
  color: rgb(255, 235, 227);
}

input.form-control {
  text-align: right;
  height: 2em;
  width: 9em;
  border: none;
}

input.form-control:focus {
  outline: 0;
}

.currency
{
  position: relative;
  display: inline-block;
}

.hidden
{
  display: none;
}